<div class="row">
    <div class="col-lg-12 float-left mt-3">
        <div class="d-flex align-items-start">
            <div class="col-lg-2 nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true" [routerLink]="['listado']">Mis temas</a>
                <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false" [routerLink]="['crear']">Crear tema</a>
                <a class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false" [routerLink]="['/ajustes']">Ajustes</a>            
            </div>
            
            <div class="col-lg-10 tab-content" id="v-pills-tabContent">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
<!--
    <div class="col-lg-8 float-right mt-3">
        <router-outlet></router-outlet>
    </div>
-->
</div>