<div class="col-lg-12">
    <h3>{{page_title}}</h3>

    <table class="table table-hover">
        <thead class="thead-default">
            <tr>
                <th>Título</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if(contiene()) {
                @for (topic of listTopics; track $index) {
                    <tr>
                        <td>{{topic.title}}</td>
                        <td>{{topic.date}}</td>
                        <td>
                            <a type="button" class="btn btn-warning" [routerLink]="['/panel/editar/' + topic._id]">Editar</a>
                            <!--<a type="button" class="btn btn-danger" [routerLink]="['panel/borrar']">Borrar</a>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" [attr.data-bs-target]="'#modal' + topic._id">
                                Borrar
                            </button>
                        </td>
                    </tr>

                    <!-- Modal -->
                    <div class="modal fade" id="{{'modal' + topic._id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Borrar tema</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ¿Estás seguro de que quieres eliminar este tema?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <a type="button" class="btn btn-danger" (click)="deleteTopic(topic._id)">Borrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            @else {
                <h3 class="text-center">No se encontraron temas</h3>
            }
        </tbody>
    </table>
</div>