<div class="container mt-3">
    <h1>{{page_title}}</h1>

    @if (status == 'success') {
        <div class="alert alert-success col-md-5 mt-3">
            Registro completado con éxito <a [routerLink]="['/login']">Inicia sesión</a>
        </div>
    }

    @if (status == 'error') {
        <div class="alert alert-danger col-md-5 mt-3">
            Error en el registro. Inténtalo de nuevo.
        </div>
    }
    <form class="col-md-5 ml-0 pl-0" #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="user.name" 
                required pattern="[a-zA-ZÀ-ÿ ]+">

            @if (!name.valid && name.touched) {
                <small class="invalid-feedback d-block">
                    El nombre no es válido
                </small>
            }
        </div>

        <div class="form-group">
            <label for="surname">Apellidos</label>
            <input type="text" class="form-control" name="surname" #surname="ngModel" [(ngModel)]="user.surname" 
                required pattern="[a-zA-ZÀ-ÿ ]+">

            @if (!surname.valid && surname.touched) {
                <small class="invalid-feedback d-block">
                    Los apellidos no son válidos
                </small>
            }
        </div>

        <div class="form-group">
            <label for="name">Email</label>
            <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email" 
                required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

            @if (!email.valid && email.touched) {
                <small class="invalid-feedback d-block">
                    El email no es válido
                </small>
            }
        </div>

        <div class="form-group">
            <label>Imagen del artículo</label><br>
            {{fileName || "Ninguna imagen seleccionada"}}
            @if (!user.image) {
                <img src="{{url + 'avatar/' + fileName}}" class="avatar_edit">
            }
            @else {
                <img src="{{url + 'avatar/' + identity.image}}" class="avatar_edit">
            }
            <!-- <button mat-mini-fab color="primary" class="btn upload-btn"
            (click)="filePostUpload.click()">
                <i>Selecciona imagen del artículo</i>
            </button>
        

            <div class="form-group">
                <label for="imagenInput">Avatar</label>
                <input id="imagenInput" type="file" class="file-input" name="image" #filePostUpload #image="ngModel" [(ngModel)]="user.image"
                    (change)="onFileSelected($event)">
            </div>-->
            <div class="form-group">
                <label for="fileUpload" class="upload-btn">Selecciona una imagen</label>
                <input id="fileUpload" type="file" (change)="onFileSelected($event)">
                <button class="upload-button" (click)="uploadAvatar()" [disabled]="!selectedFile">Upload</button>
            </div>
        </div>

        <!--<div class="form-group">
            <label>Sube tu avatar</label>
            <input type="file" (change)="uploadAvatar($event)" name="image" #filePostUpload #image="ngModel" [(ngModel)]="user.image">
            <!-- <button (click)="uploadAvatar($event)" [disabled]="!selectedFile">Upload</button> 
        </div> -->

        <!-- botones -->
         <input type="submit" value="Guardar" class="btn btn-success" [disabled]="userEditForm.invalid">
    </form>
</div>